extends layout

block content
    h1 Asset Management
    p Welcome to the Asset Management System.
    a(href="/employees", class="btn btn-primary") Manage Employees
    a(href="/assets", class="btn btn-primary") Manage Assets
    a(href="/asset-categories", class="btn btn-primary") Manage Asset Categories
